@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --header-height: 75px;
  
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    height: var(--header-height);
    background: var(--main-red);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 60px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}


#navbar {
    width: 350px;
    height: 100%;
    
}

#nav-list {
    height: 100%;
    width: 100%;
    
    display: flex;
    
}
    

#nav-list li {
    
    list-style: none;
    
    height: 100%;
    display: flex;
  
  
    
   
}



#nav-list li a {
    text-decoration: none;
    font-size: 1.45rem;
    text-transform: capitalize;
    
    color: var(--main-white);
    padding: 22px ;
    max-height: var(--header-height);
    font-weight: 600;

}

#nav-list li a:hover {
    background: var(--main-blue);
}

section {
    width: 100%;
    
}

#welcome-section {
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section h1 {
    font-size: 3.5rem;
    color: var(--main-white);
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

#welcome-section p {
    font-style: italic;
    font-size: 1.6rem;
    color: var(--main-red);
    letter-spacing: 1.5px;
}

#projects {
    height: auto;
    background: var(--main-blue);
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;

}

#title-wrapper {
    width: 100%;
    height: 250px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 50px 0;
}

#title-wrapper h2 {
    border-bottom: 2px solid var(--main-white);
    padding: 10px 20px;
    font-size: 2.5rem;
    color: var(--main-white);
    
}


#grid-wrapper {
    width: 100%;
    height: 900px;
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 25px;
    padding: 0 25px;;
    
}

.project-tile {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    

}

.project-tile a {
    height: 100%;
    text-decoration: none;
}

.link-wrapper {
    height: 87%;
}

.link-wrapper img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-wrapper {
    height: 13%;
    background: var(--main-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-title {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: var(--main-white);
}


.brackets {
    color: var(--main-white);
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    opacity: 0;
    color: var(--main-red);
    transition: opacity 200ms ease-in-out;

}

.project-tile a:hover .brackets {
    opacity: 1;
}









