@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:200, 400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --header-height: 75px;
  
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    height: var(--header-height);
    background: var(--main-red);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 60px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}


#navbar {
    width: 350px;
    height: 100%;
    
}

#nav-list {
    height: 100%;
    width: 100%;
    
    display: flex;
    
}
    

#nav-list li {
    
    list-style: none;
    
    height: 100%;
    display: flex;
  
  
    
   
}



#nav-list li a {
    text-decoration: none;
    font-size: 1.45rem;
    text-transform: capitalize;
    
    color: var(--main-white);
    padding: 22px ;
    max-height: var(--header-height);
    font-weight: 600;

}

#nav-list li a:hover {
    background: var(--main-blue);
}

section {
    width: 100%;
    
}

#welcome-section {
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section h1 {
    font-size: 3.5rem;
    color: var(--main-white);
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

#welcome-section p {
    font-style: italic;
    font-size: 1.6rem;
    color: var(--main-red);
    letter-spacing: 1.5px;
}

#projects {
    height: auto;
    background: var(--main-blue);
    display: flex;
    flex-direction: column;
    

}

#title-wrapper {
    width: 100%;
    height: 250px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 50px 0;
}

#title-wrapper h2 {
    border-bottom: 2px solid var(--main-white);
    padding: 10px 20px;
    font-size: 2.5rem;
    color: var(--main-white);
    
}


#grid-wrapper {
  
    display: grid;
    
    width: 100%;
    height: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    padding: 0px 30px;
}

.project-tile {
    
    min-width: 350px;
    height: 450px;
}

.project-tile a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--main-white);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

}

.img-wrapper {
    height: 87%;
    
    width: 100%;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.subtitle-wrapper {
    width: 100%;
    height: 13%;
    background: var(--main-gray);
    display: flex;
    justify-content: center;
    align-items: center;

}

.subtitle-wrapper p {
    text-transform: capitalize;

}



.brackets {
    opacity: 1;
    color: var(--main-red);
    transition: all 250ms ease-out;
}

.brackets2 {
    transform: translateX(-7px);
    color: var(--main-red);
}

.subtitle-wrapper .slash {
    height:2px;
    width: 25px;
    background: var(--main-red);
    transform: rotate(-75deg)
    
    
  }

  .subtitle-wrapper span {
      opacity: 0;
      transition: opacity 250ms ease-out;
  }


.project-tile a:hover span {
    opacity: 1;
}

.show-all-wrapper {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  
}

.show-all-wrapper a {
    background: var(--main-gray);
    color: var(--main-white);
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 600;
    transition: background 250ms ease-in;
   
}



.show-all-wrapper a:hover {
    background: var(--main-red);
    
}

.show-all-wrapper a span {
    display: inline-block;
    transition: all 250ms ease-in;

}

.show-all-wrapper  a:hover span {
    transform: translateX(5px);
}

#lets-work {
    height: 400px;
    background: var(--main-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--main-white);
}

#lets-work h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

#lets-work p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 200;
}

#social {
    display: block;
    list-style-type: none;
    margin-top: 75px;
}

#social li {
    display: inline-block;
    margin: 0px 50px
}

#social li a {
    color: var(--main-white);
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    display: inline-block;
    transition: transform 350ms ease-in-out;
}

#social li a:hover {
    transform: translateY(7px);
}

footer {
    width: 100%;
    height: 100px;
    background: var(--main-gray);
    border-top: 5px solid var(--main-red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-white);
    font-size: 1.2rem;
  
}


@media screen and (max-width: 600px) {
    header {
        
        justify-content: center;
        
    }
    #grid-wrapper {
  
         grid-template-rows: repeat(6, 1fr) ;
        grid-template-columns: 1fr ;
       
      
    }
    
    .project-tile {
        height: 450px;
    }

    #welcome-section h1 {
        font-size: 2.7rem;
      
    }
    
    #welcome-section p {
        
        font-size: 1.4rem;
       
    }

    
   }


